<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>

  <div id="app">
    <h1>Vueチュートリアル</h1>
    <p>{{message}}</p>
    <h2>v-for でlist内の文字列を繰り返し表示</h2>
    <ol>
      <li v-for="item in list">{{item}}</li>
    </ol>
    <h2>v-on でイベントの利用</h2>
    <button v-on:click="handleClick">Click!</button>
    <br>
    <h2>v-model でフォームの入力項目を関連付け</h2>
    <input v-model="input_text">
    <p>{{input_text}}</p>
    <h2>v-if で条件分岐</h2>
    <button v-on:click="switchShow">switchShow</button>
    <p v-if="show">showがtrueなら表示！</p>
    <h2>transitionタグの利用とアニメーション</h2>
    <button v-on:click="show_t=!show_t">切り替え</button>
    <transition>
      <p v-if="show_t">Hello</p>
    </transition>
  </div>

  <hr>

  <div id="app2">
    <h1>データの更新</h1>
    <h2>v-bind 修飾子の活用</h2>
    <!-- DOMのtextContentプロパティにバインドする -->
    <div v-bind:text-content.prop="message"></div>
    <!-- DOMのscrolltopプロパティにバインドする -->
    <div v-bind:scroll-ctop.prop="scroll"></div>
    <h2>$data タグで現在のデータをJSONで表示できる</h2>
    <p>※コンソールやVue DevToolsも併用したほうがよい</p>
    <pre>{{$data}}</pre>
    <h2>v-on を使ったカウンター</h2>
    <p>{{count}}回クリックした！</p>
    <button v-on:click="increment">countを増やす</button>
    <h2>クラスとスタイルのデータバインディング</h2>
    <p v-bind:class="{child: isChild, 'is-active': isActive}">{child: isChild, 'is-active': isActive}</p>
    <p v-bind:style="{color: textColor, backgroundColor: bgColor}">{color: textColor, backgroundColor: bgColor}</p>
    <p v-bind:class="classObject">classObject</p>
    <p v-bind:style="styleObject">styleObject</p>
    <h2>複数の属性のデータバインディング</h2>
    <p>img v-bind="item"</p>
    <img v-bind="item">
    <h2>SVG のデータバインディング</h2>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
    </svg>
    <p>{{radius}}</p>
    <input type="range" min="0" max="100" v-model.number="radius">
    <h2>テンプレート上での条件分岐</h2>
    <p>v-if ではコメントアウトになる</p>
    <div v-if="okay">v-if 条件による描画</div>
    <p>v-show ではdisplay:none になるので、切り替えの頻度が多いものはこちらを使う</p>
    <div v-show="okay">v-show 条件による表示</div>
    <h2>template タグによるv-if グルーブ化</h2>
    <p>template タグを使って複数の要素をグループ化</p>
    <template v-if="okay">
      <header>タイトル</header>
      <div>コンテンツ</div>
    </template>
    <h2>v-else-if, v-elseによるグループ化</h2>
    <div v-if="type === 'A'">
      type は A
    </div>
    <div v-else-if="type === 'B'">
      type は B
    </div>
    <div v-else>
      すべての条件を満たさなかった場合
    </div>
    <h2>リストデータの表示と更新</h2>
    <ul>
      <li v-for="mon in monsters" v-bind:key="mon.id">
        ID.{{mon.id}} {{mon.name}} HP.{{mon.hp}}
        <span v-if="mon.hp > 300">つよい！</span>
      </li>
    </ul>
    <h2>描画と表示の条件</h2>
    <p>v-ifを追加して弱いモンスターだけ表示</p>
    <ul>
      <li v-for="mon in monsters" v-bind:key="mon.id" v-if="mon.hp < 300">
        ID.{{mon.id}} {{mon.name}} HP.{{mon.hp}}
      </li>
    </ul>
    <h2>リストの追加と削除</h2>
    <input v-model="monsterName">
    <button v-on:click="doAdd">モンスターを追加</button>
    <ul>
      <li v-for="(mon, index) in monsters" v-bind:key="mon.id">
        ID.{{mon.id}} {{mon.name}} HP.{{mon.hp}}
        <button v-on:click="doRemove(index)">モンスターを削除</button>
      </li>
    </ul>
    <h2>リストの要素の置き換え</h2>
    <p>this.$set(this.monsters, 0, {id:1, name: 'キングスライム', hp:500})</p>
    <button v-on:click="changeSlime">スライムをキングスライムに変換</button>
    <h2>プロパティの追加</h2>
    <p>最初持っていないプロパティを追加</p>
    <pre>created: function(){
      this.monsters.forEach(function(mon){
        this.$set(mon, 'active', false)
      }, this)
    },</pre>
    <h2>リスト要素プロパティを更新</h2>
    <ul>
      <li v-for="(mon, index) in monsters" v-bind:key="mon.id" v-if="mon.hp">
        ID.{{ mon.id }} {{ mon.name }} HP.{{ mon.hp }}
        <span v-if="mon.hp < 50">瀕死！</span>
        <!-- ボタンはv-for内に作成 -->
        <button v-on:click="doAttack(index)">攻撃する</button>
      </li>
    </ul>
  <h2>リスト自体の置き換え</h2>
  <p>HPが500以上のつよいMonsterのデータを消す</p>
  <button v-on:click="changeMonster()">実行</button>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./main.js"></script>
</body>
</html>
